<section class="emerchant-view">
    <!-- Media object starts -->
    <div class="row">
        <div class="col-12">
            <div class="content-header mb-3">eMerchant User Detailed View</div>
        </div>

    </div>
    <!-- Media object ends -->
    <div class="row mb-2">
        <div class="col-sm-6 d-sm-flex align-items-center">
            <div class="profPic-view d-inline-block">
                <img src="../app-assets/img/users/user_Icon.png">
            </div>
            <div class="d-inline-block mx-2">
                <h5 class="mb-0">ABC essential Limited</h5>
                
            </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-end align-items-center">
            <a [routerLink]="['/emerchant/create-emerchant']" class="btn-custom mr-2">Edit</a>
            <a href="javaScript:void(0);" class="btn btn-secondary custom">Delete User</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Card data starts -->
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h5 class="text-primary">General</h5>
                        <div class="row">
                            <div class="col-12 col-xl-4">


                                <p>Attention Name: <span>eMar_roger21 </span> </p>
                                <p>Email: <span>abcpublic@abc.com</span></p>
                            </div>
                            <div class="col-12 col-xl-4">
                                <p>Phone Number:<span>+1-598-75632</span></p>
                                <p>Phone Ext: <span>6314 </span></p>
                            </div>
                            <div class="col-12 col-xl-4 text-sm-right">
                                <p>Fax Number: <span>+1-636-24672</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card data ends -->
        </div>
        <div class="col-12">
            <!-- Card data starts -->
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h5 class="text-primary">Info</h5>
                        <div class="row">
                            <div class="col-12 col-xl-4">



                                <p>Address 1: <span>2053 Ward Road </span> </p>
                                <p>City: <span>El Paso</span></p>
                            </div>
                            <div class="col-12 col-xl-4">
                                <p>State:<span>Texas</span></p>

                            </div>
                            <div class="col-12 col-xl-4 text-sm-right">
                                <p>Country: <span>United States</span></p>
                                <p>Postal Code: <span>79906 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card data ends -->
        </div>
        <div class="col-12">
            <!-- Card data starts -->
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <h5 class="text-primary">Account</h5>
                        <div class="row">
                            <div class="col-12 col-xl-4">



                                <p>Bank name: <span>Zenus Bank </span> </p>
                                <p>Account Number: <span>****-****-****</span></p>
                            </div>
                            <div class="col-12 col-xl-4">


                            </div>
                            <div class="col-12 col-xl-4 text-sm-right">


                                <p>Branch Details: <span>United States</span></p>
                                <p>Tax Id: <span>tax001 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card data ends -->
        </div>
    </div>
</section>