<section class="users-view">
    <!-- Media object starts -->
    <div class="row mb-3">
      <div class="col-12">
        <div class="content-header">User Roles Detailed View</div>
      </div>
      <div class="col-12 col-sm-12 d-flex justify-content-end align-items-center">
        <a [routerLink]="['/users/user-roles-edit']" class="btn btn-custom mr-sm-2">Edit Role</a>
        <a href="javaScript:void(0);" class="btn btn-secondary custom">Delete Role</a>
      </div>
    </div>
    <!-- Media object ends -->
  
    <div class="row">
      <div class="col-12">
        <!-- Card data starts -->
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="row">
                
                <div class="col-12 col-xl-4">
                    <h6>Role Name:	Senior Manager</h6>
                    <h6>Role Description:</h6>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                </div>
                <div class="col-12 col-xl-8 users-module">
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th>Module Permission</th>
                          <th>Read</th>
                          <th>Write</th>
                          <th>Create</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Users</td>
                          <td>Yes</td>
                          <td>No</td>
                          <td>No</td>
                          <td>Yes</td>
                        </tr>
                        <tr>
                          <td>Articles</td>
                          <td>No</td>
                          <td>Yes</td>
                          <td>No</td>
                          <td>Yes</td>
                        </tr>
                        <tr>
                          <td>Staff</td>
                          <td>Yes</td>
                          <td>Yes</td>
                          <td>No</td>
                          <td>No</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card data ends -->
      </div>
    </div>
  </section>
  