.nav-pills{
    width: 30%;
}
.nav-link i{
    color: #01ABAA;
}
.nav-link.active i{
    color: #fff;
}

.cus-file {
    position: relative;
    overflow: hidden;
  }
.cus-file input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    left: 0;
    top: 0;
  }
  .profPic-view.square{
	border-radius: 10px;
	width: 110px;
    height: 110px;
    max-width: 100%;
}

