<section id="ngx-datatable-filter">
    <div class="row">
      <div class="col-12">
        <div class="content-header">eMarchent User List</div>
    </div>
    <div class="col-12">
      <!-- Filter starts -->
      <div class="users-list-filter">
        <form>
          <div class="row rounded py-2 mb-2 mx-n2 naked-form">
            <div class="col-12 col-sm-6 col-lg-3">
              <label for="users-list-verified">Verified</label>
              <ng-select [items]="verify" bindLabel="name" placeholder="Verified or not" [(ngModel)]="selectedCity">
              </ng-select>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label for="users-list-role">Role</label>
              <ng-select [items]="role" bindLabel="name" placeholder="Select Role" [(ngModel)]="selectedCity">
              </ng-select>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label for="users-list-status">Status</label>
              <ng-select [items]="status" bindLabel="name" placeholder="Select Status" [(ngModel)]="selectedCity">
              </ng-select>
            </div>

            <div class="col-12 col-sm-6 col-lg-2 d-flex align-items-center offset-lg-1">
              <button type="reset" class="btn btn-secondary btn-block users-list-clear glow mb-0">
                Clear
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- Filter ends -->
    </div>
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <!-- ngx-datatable-filter -->
              <fieldset class="form-group">
                <div class="row">
                  
                <div class="col-sm-4">
                  <label for="ngx-filter-ref" class="d-block">
                    <input id="ngx-filter-ref" class="form-control form-control-sm"
                      type="text" (keyup)="filterUpdate($event)" />
                  </label>
                </div>
                <div class="col-sm-8 text-sm-right">
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-custom">Copy</button>
                      <button type="button" class="btn btn-custom">CSV</button>
                      <button type="button" class="btn btn-custom">Excel</button>
                      <button type="button" class="btn btn-custom">PDF</button>
                      <button type="button" class="btn btn-custom">Print</button>
                    </div>
              </div>
                </div>
              </fieldset>

              <table class="table text-left m-0">
                <thead>
                  <tr>
                    <th>EMerchant user ID</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Phone No.</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td>
                        eMarchentuser0001 
                    </td>
                    <td>Jeremiah Roch</td>
                    <td>abcpublic@abc.com </td>
                    <td>+1-598-75632</td>
                    <td class="text-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="text-danger">Deactive</span>
                            <div class="custom-switch custom-switch-success custom-control-inline ml-2 mb-1 mb-xl-0">
                               
                                <input type="checkbox" class="custom-control-input" id="color-switch-3" checked>
                                <label class="custom-control-label mr-1 text-success" for="color-switch-3">
                                    Active
                                </label>
                              </div>
                              
                        </div>
                    </td>
                    <td class="text-center">
                        <a routerLink="/emerchant/emerchant-user-detail" class="text-info px-1"><i class="ft-eye"></i></a>
                        <a routerLink="/emerchant/emerchant-user-edit" class="text-info px-1"><i class="ft-edit"></i></a>
                        <a class="text-info px-1"><i class="ft-trash"></i></a>
                    </td>
                  </tr>
                  <tr>
                    
                    <td>
                        eMarchentuser0001 
                    </td>
                    <td>Jeremiah Roch</td>
                    <td>abcpublic@abc.com </td>
                    <td>+1-598-75632</td>
                    <td class="text-center"><div class="d-flex align-items-center justify-content-center">
                        <span class="text-danger">Deactive</span>
                        <div class="custom-switch custom-switch-success custom-control-inline ml-2 mb-1 mb-xl-0">
                           
                            <input type="checkbox" class="custom-control-input" id="color-switch-3" checked>
                            <label class="custom-control-label mr-1 text-success" for="color-switch-3">
                                Active
                            </label>
                          </div>
                          
                    </div></td>
                    <td class="text-center">
                        <a routerLink="/emerchant/emerchant-user-detail" class="text-info px-1"><i class="ft-eye"></i></a>
                        <a routerLink="/emerchant/emerchant-user-edit" class="text-info px-1"><i class="ft-edit"></i></a>
                        <a class="text-info px-1"><i class="ft-trash"></i></a>
                    </td>
                  </tr>
                  <tr>
                    
                    <td>
                        eMarchentuser0001 
                    </td>
                    <td>Jeremiah Roch</td>
                    <td>abcpublic@abc.com </td>
                    <td>+1-598-75632</td>
                    <td class="text-center"><div class="d-flex align-items-center justify-content-center">
                        <span class="text-danger">Deactive</span>
                        <div class="custom-switch custom-switch-success custom-control-inline ml-2 mb-1 mb-xl-0">
                           
                            <input type="checkbox" class="custom-control-input" id="color-switch-3" checked>
                            <label class="custom-control-label mr-1 text-success" for="color-switch-3">
                                Active
                            </label>
                          </div>
                          
                    </div></td>
                    <td class="text-center">
                        <a routerLink="/emerchant/emerchant-user-detail" class="text-info px-1"><i class="ft-eye"></i></a>
                        <a routerLink="/emerchant/emerchant-user-edit" class="text-info px-1"><i class="ft-edit"></i></a>
                        <a class="text-info px-1"><i class="ft-trash"></i></a>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              <label>Show
                <select name="users-list-select"
                  class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                  (click)="updateLimit($event)">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label>
              <!-- ngx-datatable-filter -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
