<section class="shipment-Import">
    <!-- Media object starts -->
    <div class="row">
        <div class="col-12">
            <div class="content-header mb-3">Import CSV</div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <!-- Card data starts -->
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row align-items-center mb-3">
                            <div class="col-sm-12">
                                <p>This example uploads a multiple files using dropzone js library. Using this method, user gets an option to select the files using a button instead dropping all the files
                                    after selected from the folders. You have to define dropzone and previewsContainer elements to show preview thumbnails. Also set clickable to match the button's id 
                                    for button to work as file selector.</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="cus-file custom-file btn btn-md btn-primary" style="width: 300px;">
                                    Click to select files
                                    <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
                                    <span class="custom-file-control"></span>
                                  </div>
                                  <div class="mb-1">
                                    <a href="#" class="btn-link text-primary py-2 d-inline-block">CSV Format & Guide</a>
                                  </div>
                                
                            </div>
                            <div class="col-md-12">
                                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                                  [uploader]="uploader" class="py-5 mb-3 text-center text-uppercase grey my-drop-zone">
                                  <div class="font-medium-5">
                                    <p>Drop Files Here To Upload</p>
                                    <img src="../../../assets/img/icons/Vector.svg">
                                  </div>
                                </div>
                                
                              </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- Card data ends -->
        </div>
    </div>
</section>