<section class="users-edit">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Create User</div>
        </div>
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body table-responsive">
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <div class="profPic-view d-inline-block">
                            <img src="assets/img/users/user_Icon.png">
                        </div>
                        <div class="d-inline-block mx-2">
                            <a href="#" class="btn-custom btn-sm text-uppercase">Upload Image</a>
                        </div>
                    </div>
                </div>
                        <form novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="users_first_name">First Name*</label>
                                            <input type="text" id="users_first_name" class="form-control" placeholder="First Name" value="" required aria-invalid="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="users_middle_name">Middle Name</label>
                                            <input type="text" id="users_middle_name" class="form-control" placeholder="Middle Name" value="" required aria-invalid="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="users_middle_name">Last Name*</label>
                                            <input type="text" id="users_middle_name" class="form-control" placeholder="Last Name" value="" required aria-invalid="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="users_email">Email*</label>
                                            <input type="email" id="users_email" class="form-control" placeholder="Email" value="" required aria-invalid="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="users_phone_number">Phone Number*</label>
                                            <input type="text" id="users_phone_number" class="form-control" placeholder="Phone number" value="" required aria-invalid="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label for="users-edit-role">Role</label>
                                            <select id="users-edit-role" class="form-control" required>
                                                <option value="">Select Role</option>
                                                <option value="1">User</option>
                                                <option value="2">Staff</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-12 users-module">
                                    <div class="table-responsive">
                                        <table class="table mb-0 mt-3">
                                            <thead>
                                                <tr>
                                                    <th>Module Permission</th>
                                                    <th>Read</th>
                                                    <th>Write</th>
                                                    <th>Create</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Manage User</td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox1" checked>
                                                            <label for="users-checkbox1"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox2">
                                                            <label for="users-checkbox2"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox3">
                                                            <label for="users-checkbox3"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox4" checked>
                                                            <label for="users-checkbox4"></label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Manage eMerchant</td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox1" checked>
                                                            <label for="users-checkbox1"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox2">
                                                            <label for="users-checkbox2"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox3">
                                                            <label for="users-checkbox3"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox4" checked>
                                                            <label for="users-checkbox4"></label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Manage Shipping</td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox1" checked>
                                                            <label for="users-checkbox1"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox2">
                                                            <label for="users-checkbox2"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox3">
                                                            <label for="users-checkbox3"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="users-checkbox4" checked>
                                                            <label for="users-checkbox4"></label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                    <button type="submit" class="btn btn-custom mb-2 mb-sm-0">Create</button>
                                    
                                </div>
                            </div>
                        </form>
                 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  