<section class="emerchantuser-detail">
    <!-- Media object starts -->
    <div class="row">
      <div class="col-12">
        <div class="content-header mb-3">eMerchant User Detailed View</div>
      </div>
      
    </div>
    <!-- Media object ends -->
    <div class="row mb-2">
      <div class="col-sm-6 d-sm-flex align-items-center">
          
          <div class="d-inline-block">
              <h5>Jeremiah Roach</h5>
              <p class="mb-0">eMerchant ID : eMarchentuser0001</p>
          </div>
      </div>
      <div class="col-sm-6 d-flex justify-content-end align-items-center">
        <a [routerLink]="['/emerchant/emerchant-user-edit']" class="btn-custom mr-2">Edit</a>
        <a href="javaScript:void(0);" class="btn btn-secondary custom">Delete User</a>
      </div>
  </div>
    <div class="row">
      <div class="col-12">
        <!-- Card data starts -->
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-xl-4">
                    <p>Email:	<span>roach22@gmal.com</span> </p>                                                                                                                                                                
                    <p>Created Date:	<span>11/19/2021</span></p>                                                                   
                    <p>Latest Activity:	<span>12/07/2021</span></p>
                    <p>Status: <span class="badge bg-light-success">Active</span></p>
                </div>
                <div class="col-12 col-xl-4">
                  <p>Created Time:	<span>10:45 AM</span></p>
                </div>
                <div class="col-12 col-xl-4 text-sm-right">
                    <p>Phone No:	<span>+1-598-75632</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card data ends -->
      </div>
    </div>
  </section>
  