<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Create Shipment</div>
    </div>
</div>
<section id="ngx">
    <div class="card">
        <div class="card-content">
            <div class="card-body">

                <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
                    <aw-wizard-step [stepTitle]="'Step 1'"
                        [navigationSymbol]="{ symbol: '1', fontFamily: 'FontAwesome' }">
                        <form #orderForm="ngForm" class="editForm pt-4" novalidate>
                            
                            <div class='row'>
                                <div class='col-12'>
                                    <h4 class="text-center mb-3 text-uppercase">Customer Order</h4>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">Order
                                                    Number*</label>
                                                <input class="form-control input-md" name="orderNumber" type="text">
                                                
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="trackingNumber">Original Tracking
                                                    Number*</label>
                                                <input class="form-control input-md" name="trackingNumber" type="text">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">Origin</label>
                                                <ng-select [items]="cities" bindLabel="name"
                                                    placeholder="Select Origin">
                                                </ng-select>

                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                    for="trackingNumber">Destination</label>
                                                <ng-select [items]="cities" bindLabel="name"
                                                    placeholder="Select Destination">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">Service
                                                    Type*</label>
                                                <input class="form-control input-md" name="orderNumber" type="text">
                                                
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="trackingNumber">Created
                                                    Date</label>
                                                <form>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                                name="dp" [(ngModel)]="popupModel" ngbDatepicker
                                                                #d2="ngbDatepicker">
                                                            <div class="input-group-append">
                                                                <div class="input-group-text" (click)="d2.toggle()">
                                                                    <i class="fa fa-calendar"
                                                                        style="cursor: pointer;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="email">Created Time</label>
                                                <form>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" placeholder="Select Time"
                                                                name="dp">
                                                            <!-- <ngb-timepicker [(ngModel)]="time"></ngb-timepicker> -->
                                                            <div class="input-group-append">
                                                                <div class="input-group-text">
                                                                    <i class="fa fa-clock-o"
                                                                        style="cursor: pointer;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-center text-sm-right mt-4">
                                        <button type="button" uiSref="customer" class="btn btn-primary custom"
                                            [disabled]="!orderForm.valid" awNextStep>
                                            Next
                                            
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </aw-wizard-step>
                    <aw-wizard-step [stepTitle]="'Step 2'"
                        [navigationSymbol]="{ symbol: '2', fontFamily: 'FontAwesome' }">
                        <form #customerForm="ngForm" class="editForm pt-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="text-center mb-3 text-uppercase">Customer Informations</h4>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">Customer
                                                    Name*</label>
                                                <input class="form-control input-md" name="orderNumber" type="text">
                                               
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="trackingNumber">Address
                                                    1*</label>
                                                <input class="form-control input-md" name="trackingNumber" type="text">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">Address 2</label>
                                                <input class="form-control input-md" name="orderNumber" type="text">
                                                
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="trackingNumber">Address 3</label>
                                                <input class="form-control input-md" name="trackingNumber" type="text">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class='col-12 col-sm-6'>
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="orderNumber">Address
                                                            3</label>
                                                        <ng-select [items]="cities" bindLabel="name"
                                                            placeholder="Select Destination">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div class='col-12 col-sm-6'>
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="trackingNumber">City*</label>
                                                        <ng-select [items]="cities" bindLabel="name"
                                                            placeholder="Select Destination">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">State</label>
                                                <ng-select [items]="cities" bindLabel="name"
                                                    placeholder="Select Destination">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="trackingNumber">Zip Code*</label>
                                                <input class="form-control input-md"  name="trackingNumber" type="text">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">Phone No*</label>
                                                <input class="form-control input-md" name="orderNumber" type="text">
                                                
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="trackingNumber">Email*</label>
                                                <input class="form-control input-md" name="trackingNumber" type="text">
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center text-sm-right mt-4">
                                <button uiSref="order" type="button" class="btn btn-secondary custom mr-1" awPreviousStep>
                                     Previous</button>
                                <button uiSref="product" type="button" class="btn btn-primary custom"
                                    [disabled]="!customerForm.valid" awNextStep>
                                    Next
                                    
                                </button>
                            </div>
                        </form>
                    </aw-wizard-step>
                    <aw-wizard-step [stepTitle]="'Step 3'"
                        [navigationSymbol]="{ symbol: '3', fontFamily: 'FontAwesome' }">
                        <form #productForm="ngForm" class="editForm pt-4" novalidate>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <h4 class="text-center mb-3 text-uppercase">Product Details</h4>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">Sku*</label>
                                                <input class="form-control input-md" name="orderNumber" type="text">
                                                
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="trackingNumber">Product
                                                    Name*</label>
                                                <input class="form-control input-md" name="trackingNumber" type="text">
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">Product
                                                    Category*</label>
                                                <input class="form-control input-md" name="orderNumber" type="text">
                                                
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="trackingNumber">Service
                                                    code*</label>
                                                <input class="form-control input-md" name="trackingNumber" type="text">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">Value*</label>
                                                <input class="form-control input-md" name="orderNumber" type="text">
                                               
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="trackingNumber">Currency*</label>
                                                <input class="form-control input-md" name="trackingNumber" type="text">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">Item Count*</label>
                                                <input class="form-control input-md" name="orderNumber" type="text">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Loop -->
                                </div>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button class="bg-transparent shadow-none border-0 btn-link"><i class="ft-plus"></i>Add
                                    More Product</button>
                            </div>
                            <div class="form-group text-center text-sm-right mt-4">
                                <button uiSref="customer" type="button" class="btn btn-secondary custom mr-1" awPreviousStep>
                                     Previous</button>
                                <button uiSref="package" type="button" class="btn btn-primary custom"
                                    [disabled]="!productForm.valid" awNextStep>
                                    Next
                                    
                                </button>
                            </div>

                        </form>

                    </aw-wizard-step>
                    <aw-wizard-step [stepTitle]="'Step 4'"
                        [navigationSymbol]="{ symbol: '4', fontFamily: 'FontAwesome' }">
                        <form #packageForm="ngForm" class="editForm pt-4" novalidate>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <h4 class="text-center mb-3 text-uppercase">Package Details</h4>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orderNumber">Sku*</label>
                                                <input class="form-control input-md" name="orderNumber" type="text">
                                                
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="trackingNumber">Product
                                                    Name*</label>
                                                <input class="form-control input-md" name="trackingNumber" type="text">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center text-sm-right mt-4">
                                <button uiSref="product" type="button" class="btn btn-secondary custom mr-1" awPreviousStep>
                                     Previous</button>
                                    
                                <button uiSref="result" type="button" class="btn btn-primary custom"
                                    [disabled]="!packageForm.valid" awResetWizard>
                                    Save
                                    
                                </button>
                            </div>
                        </form>

                    </aw-wizard-step>
                </aw-wizard>


            </div>
        </div>
    </div>
</section>