/* You can add global styles to this file, and also import other style files */
.sidebar-header{
	background-color: #fff;
}
.app-sidebar .logo{
	background-color: #fff;
	padding: 0.5rem 0 0.8rem 0.95rem;
}



.naked-form .form-control{
	background:#fff;
}
.table .checkbox{
	display: inline-block;
}
.checkbox input[type='checkbox']:checked ~ label:after{
	border-color: #994B2B;
}
.btn-custom{
    height: 50px;
    max-width: 100%;
	background-color: #994B2B;
	border-color: #994B2B;
	padding: 14px 78px;
    text-align: center;
    color: #fff;
    border-radius: 12px;
}

.bg-custom{
	background-color: #994B2B;
	border-color: #994B2B;
}
.btn-custom:focus,.btn-custom:hover,a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus{
	background-color: #a16249 !important;
	border-color: rgb(161, 98, 73);
    color: #fff;
    box-shadow: 0 2px 7px rgb(161 98 73 / 28%);
}
.btn{
	min-height: 50px;
	border-radius: 12px;
	max-width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn.btn-md{
	min-height: auto;
	height: 47px;
	padding: 11px 60px;
}
.btn.custom{
    padding: 14px 78px;
}
.btn-custom.btn-sm,.btn.btn-sm{
	min-height: auto;
    padding: 10px 15px;
	border-radius: 7px;
}
.btn-group .btn-custom{
    padding: 8px 20px;
	border-radius: 7px;
}
.form-control,.ng-select .ng-select-container,.ng-select.ng-select-single .ng-select-container{
	height: 50px;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
	top:12px
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
	padding: 12px 10px;
}
.login-page .form-control{
	height: 60px;
}
.form-control:focus{
	border-color: #994B2B;
}
.profPic-view{
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-color: #ccc;
	padding: 15px;
}

.profPic-view img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.btn-secondary{
	background-color: rgba(74, 74, 74, 1);
	border-color: rgba(74, 74, 74, 1);
}
.btn-secondary:hover{
	background-color: rgba(74, 74, 74, 0.7);
	border-color: rgba(74, 74, 74, 0.2);
}
.page-item.active .page-link{
	background-color: #994B2B;
	border-color: #994B2B;
}
a{
	color: #000;
}
a:hover{
	color: #994B2B;;
}
.text-custom{
	color:#994B2B
}
.text-primary{
    color:#994B2B !important 
}
.ngx-datatable .badge{
	min-width: 66px;
}
.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager .pager li:not(.disabled) a {
    color: #fff !important;
    background-color: rgba(74, 74, 74, 1);
}
.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager .pager li:not(.disabled) a:hover {
    background-color: rgba(74, 74, 74, .7);
    color: #000 !important;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager .pager li:not(.disabled).active a:hover{
    background-color: rgba(74, 74, 74, .7);
}
.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager .pager li:not(.disabled).active a{
    background-color: #994B2B !important;
    color: #fff;
}
div.dataTables_wrapper div.dataTables_filter{
	text-align: left;
}
.floatingAction{
	position: absolute;
	right: 20px;
}
/*** Login ***/
/* .login-page::after{
	width: 66.6666%;
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background-image: url(../../app-assets/img/auth/login-back.png);
	background-size: cover;
}
.login-page.forgot::after{
	background-image: url(../../app-assets/img/auth/forgot-back.png);
}
.login-action{
	font-size: 14px;
}
.loginBigHead{
	font-size: 80px;
	color: #fff;
	font-weight: 700;
}
.login-page .form-control-position{
	line-height: 60px;
	width: 3.5rem;
}
.has-icon-left .form-control {
    padding-left: 3.5rem;
}
.leftCopy{
	position: absolute;
	right: 70%;
	bottom: 40px;
}
.rightFoot{
	width: 66.66%;
	position: absolute;
	bottom: 40px;
	right: 0;
	text-align: center;
}
.rightFoot ul{
	margin: 0;
	padding-left: 0;
}
.rightFoot ul li{
	list-style-type: none;
	display: inline-block;
}
.rightFoot ul li a{
	color: #fff;
	padding: 10px 30px;
} */
@media screen and (max-width:590px) {
	.login-page::after{
		width: 100%;
		height: 20%;
	}
	.login-page .row:first-child{
		flex-direction: column-reverse;
	}
	.login-page .btn.custom{
		width: 100%;
	}
	.loginBigHead{
		font-size: 30px;
		padding: 40px 0;
	}
	.leftCopy{
		position: absolute;
		right: 0;
		width: 100%;
		bottom: 20px;
		text-align: center;
	}
	.rightFoot{
		width: 100%;
		position: absolute;
		bottom: 50px;
		right: 0;
		text-align: center;
	}
	.rightFoot ul li a{
		color: #000;
		padding: 10px 15px;
	}
	.btn-group .btn {
		font-size: 12px;
		padding: 5px 12px;
	}

}