<section class="shipment-view">
    <!-- Media object starts -->
    <div class="row">
        <div class="col-12">
            <div class="content-header mb-3">Shipment Details Preview</div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <!-- Card data starts -->
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row align-items-center mb-3">
                            <div class="col-sm-8">
                                <h5 class="text-primary mb-0">Customer Order</h5>
                            </div>
                            <div class="col-sm-4 text-sm-right">
                                <button class="btn btn-primary btn-sm mr-1" routerLink="/manage-shipment/csv-edit">Edit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <p>Order Number :<span>GAP123456</span> </p>
                                <p>Origin :<span>New York</span></p>
                                <p>Created Date :<span>12/11/2021</span></p>
                            </div>
                            <div class="col-12 col-xl-4">
                                <p>Destination :<span>Torrento</span></p>
                                <p>Created Time :<span>11:45 am</span></p>
                            </div>
                            <div class="col-12 col-xl-4 text-sm-right">
                                <p>Original Tracking Number : <span>BR525614712</span></p>
                                <p>Service Type : <span>Delivery</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card data ends -->
        </div>
        <div class="col-12">
            <!-- Card data starts -->
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row align-items-center mb-3">
                            <div class="col-sm-8">
                                <h5 class="text-primary mb-0">Customer Informations</h5>
                            </div>
                            <div class="col-sm-4 text-sm-right">
                                <button class="btn btn-primary btn-sm mr-1" routerLink="/manage-shipment/csv-edit">Edit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <p>Customer Name : <span>Guillaume Moser</span></p>
                                <p>Phone Number :  <span>510-383-6430</span></p>
                                <p>Email : <span>guillaume@brdrch.com</span></p>
                            </div>
                            <div class="col-12 col-xl-4">
                                <p>Address 1 : <span>3659 Thompson Drive, Oakland, CA 94621</span></p>
                                <p>State:<span>Texas</span></p>
                                <p>Country: <span>United States</span></p>
                                <p>Postal Code: <span>79906 </span></p>
                            </div>
                            <div class="col-12 col-xl-4 text-sm-right">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card data ends -->
        </div>
        <div class="col-12">
            <!-- Card data starts -->
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row align-items-center mb-3">
                            <div class="col-sm-8">
                                <h5 class="text-primary mb-0">Product Details</h5>
                            </div>
                            <div class="col-sm-4 text-sm-right">
                                <button class="btn btn-primary btn-sm mr-1" routerLink="/manage-shipment/csv-edit">Edit</button>
                                <button class="btn btn-secondary btn-sm">Delete</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <p>Product Name : <span>t-shirt 100% cotton, size L</span> </p>
                                <p>SKU : <span>gapt1234</span></p>
                                <p>Currency : <span>USD</span></p>
                            </div>
                            <div class="col-12 col-xl-4">
                                <p>Service code: <span>Standard</span> </p>
                                <p>Item Count : <span>1</span> </p>
                            </div>
                            <div class="col-12 col-xl-4 text-sm-right">
                                <p>Product Catagory:  <span>Clothing </span></p>
                                <p>Value :<span>20.00 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card data ends -->
        </div>
        <div class="col-12">
            <!-- Card data starts -->
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row align-items-center mb-3">
                            <div class="col-sm-8">
                                <h5 class="text-primary mb-0">Package Details</h5>
                            </div>
                            <div class="col-sm-4 text-sm-right">
                                <button class="btn btn-primary btn-sm" routerLink="/manage-shipment/csv-edit">Edit</button>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <p>Package Weight (in lbs) :<span>0.7 </span> </p>
                                <p>Package Height (In Inches )<span>5</span></p>
                            </div>
                            <div class="col-12 col-xl-4">
                                <p>Package width (In Inches ) :<span>12</span></p>
                            </div>
                            <div class="col-12 col-xl-4 text-sm-right">
                                <p>Package Length (In Inches ) :<span>11</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card data ends -->
        </div>
    </div>
</section>